.mainBox {
    margin: 10px 0;
    width: 300px;
    background-color: #e4ede3;
    border-radius: 30px;
    padding: 25px;
    line-height: 2rem;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(../img/Sky-Backgrounds-.jpg) no-repeat;
    background-size: cover;
} 

#menssagemErro {
    margin: 5px 0;
}