/* banner */
.banner {
    display: flex;
    justify-content: space-around;  
}

.bannerConteudo {
    width: 80%;
}

.banner img {
    height: calc(100vh - 70px);
    border-left: 3px dashed black;
    border-right: 3px dashed black;
    border-bottom: 3px dashed black;
}
/* banner end */
/* noticias */
.noticias {
    display: flex;
    justify-content: space-around;
}

.noticiasConteudo {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.noticiasCard {
    background: #fdfdfd;
    display: grid;
    grid-template-areas: 
        "card-imagem"
        "card-corpo";
    grid-template-columns: 100%;
    grid-template-rows: 173px auto;
    width: 30%;
    padding: 5px;
    border: 3px dashed black;
}

.noticiasCardImagem {
    grid-area: card-imagem;
    width: 100%;
}

.noticiasCardCorpo {
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: .5rem;
    grid-template-areas: 
        "card-cabecalho"
        "card-conteudo";
    grid-template-rows: 50px auto;
    padding: .75rem;
}

.noticiasCardDescricao {
    color: #333333;
    line-height: 1.5;
    margin: 1rem 0;
    text-align: justify;
}

.noticiasCardTitulo {
    color: #333333;
    font-size: 1.5rem;
}

.noticiasConteudo {
    display: flex;
    flex-wrap: wrap;
    grid-area: conteudo;
    padding: 1rem 0rem;
}

.noticiaImg1 {
    background: url(../img/unnamed.jpg) no-repeat center;
    background-size: contain;
}

.noticiaImg2 {
    background: url(../img/noticia2.jpg) no-repeat center;
    background-size: contain;
}

.noticiaImg3 {
    background: url(../img/noticia3.jpg) no-repeat center;
    background-size: contain;
}