body {
    font-family: 'Syne Mono', monospace;
    display: grid;
    grid-template-areas: 'navbar' 'main' 'footer';
    grid-template-rows: 70px minmax(calc(100vh - 70px),auto) 70px;
    grid-template-columns: auto;
}

.navbar {
    grid-area: navbar;
    background: #00BFFF;
    border-bottom: 3px dashed black;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    background: #00BFFF;
    border-top: 3px dashed black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}