* {
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: space-around;
    background: url(../img/Sky-Backgrounds-.jpg) no-repeat;
    background-size: cover;
} 

.mainBox {
    margin: 10px 0;
    width: 500px;
    background-color: #e4ede3;
    border-radius: 30px;
    padding: 25px;
    line-height: 2rem;
}

.halfBox input,.fullBox input,.avatarSelect input {
    display: block;
    width: 100%;
    border-bottom: 2px solid #363636;
    font-size: .9rem;
    border-radius: 10px;
    padding-left: 10px;
}

.mainBox label {
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: .9rem;
    padding-left: 10px;
}

.mainBox input:focus,
.mainBox label:focus {
    outline: none;
}

.mainBox h2 {
    font-size: 1.5rem;
    text-align: center;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fullBox {
    flex: 0 1 95%;
    position: relative;
    line-height: 1rem;
}

.halfBox {
    flex: 0 1 45%;
    line-height: 1rem;
}

.spacing {
    margin-bottom: 10px;
}

.botao {
    width: 100%;
    height: 35px;
    color: #e4ede3;
    border: 2px solid black;
    background-color: #b7231f;
    border-radius: 3px;
}

.botao:hover {
    background-color: #f7a720;
    color: black;
    transition: .5s;
}

.avatarSelect {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

.avatarSelect img {
    width: 100px;
}

.avatares {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.termosDeUsoBox {
    display: flex;
    padding: 10px 0;
}
.termosDeUsoBox a {
    color: blueviolet;
    text-decoration: underline;
}
#termosDeUso {
    width: min-content;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menssagemErro {
    color: red;
    background-color: rosybrown;
    padding: 3px 7px;
    border: 1px solid red;
    border-radius: 5px;
}

.invisivel {
    display: none;
}