.menssagem {
    margin-top: 15px;
    width: 100%;
    height: fit-content;
    display: flex;
}

form {
    display: flex;
    width: 100%;
}

.main img {
    width: 100px;
    margin-right: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

.perfil {
    width: 100%;
    margin-right: 10px;
}

.menssagem textarea {
    height: calc() ;
    width: 100%;
    border-radius: 0 25px 25px 25px;
    border: 2px solid black;
}

.balaoComentario {
    height: fit-content;
    padding: 10px;
    border-radius: 0 25px 25px 25px;
    border: 2px solid black;
}

.main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: fit-content;
}

.main .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.comentario {
    display: flex;
    height: fit-content;
}

.comentarios {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.novaMenssagem {
    width: 100%;
}

.menssagensAnteriores {
    width: 100%;
}

.titulo {
    width: 100%;
    border-bottom: 3px dashed black;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}

label {
    height: min-content;
}

#gambiarra {
    margin: 0;
}