.main .container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    justify-content: space-around;
}

td,th {
    padding: 5px;
    text-align: center;
    border: 3px dashed black;
}

.controler {
    margin: 20px 0 5px 0;
}



tr {
    border: 3px dashed black;
}

thead {
    background-color: #00BFFF;
    font-weight: 200;
    font-size: 1.2rem;
}

.cannon {
    background-color: green;
    color: #e4ede3;
}

.filler {
    background-color: #b7231f;
    color:  #e4ede3;
}

.numeroEp {
    background-color: #f7a720;
}

.botao {
    height: 1.5rem;
    width: 150px;
}