/* banner */
.banner {
    display: flex;
    justify-content: space-around;
    
}

.banner .container {
    width: 78%;
    height: 500px;
    border: 3px dashed black;
    border-top: none;
    background: url(../img/bannerImg2.png) no-repeat center;
    background-size: cover;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.bannerConteudo {
    width: fit-content;
    font-size: 3rem;
    padding: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    color: #fdfdfd;
    margin-bottom: 15px;
}


/* banner end */
/* card pardrao */
.card {
    background: #fdfdfd;
    display: grid;
    grid-template-areas: 
        "card-imagem"
        "card-corpo";
    grid-template-columns: 100%;
    grid-template-rows: 173px auto;
    width: 30%;
    padding: 5px;
    border: 3px dashed black;
    margin: 10px 0;
}

.cardImagem {
    grid-area: card-imagem;
    width: 100%;
}

.cardCorpo {
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: 1rem;
    grid-template-areas: 
        "card-cabecalho"
        "card-conteudo"
        "card-rodape";
    grid-template-rows: max-content auto 10px;
    padding: .75rem;
}

.cardDescricao {
    grid-area: card-conteudo;
    color: #333333;
    line-height: 1.5;
    text-align: justify;
}

.cardTitulo {
    color: #333333;
    font-size: 1.5rem;
}

.cardRodape {
    color: #6f00ff;
    font-weight: bolder;
    text-decoration: underline;
}
/* card padrao end */
/* titulo da seção */
.titulo {
    border-left: none;
    border-right: none;
    font-size: 1.5rem;
    padding-left: 1rem;
    height: fit-content;
}

.tituloBox {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gambiarra .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 3px dashed black;
}

.botao {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 1rem;
}

/* titulo da seção end*/
/* noticias */
.noticias {
    display: flex;
    justify-content: space-around;
}

.noticiasConteudo {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.noticiaImg1 {
    background: url(../img/unnamed.jpg) no-repeat center;
    background-size: contain;
}

.noticiaImg2 {
    background: url(../img/noticia2.jpg) no-repeat center;
    background-size: contain;
}

.noticiaImg3 {
    background: url(../img/noticia3.jpg) no-repeat center;
    background-size: contain;
}

/* noticias end*/
/* ultimos episodios */
.episodios {
    display: flex;
    justify-content: space-around;
}
.episodiosConteudo {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.episodioimg1{
    background: url(../img/episodio948.jpg) no-repeat center;
    background-size: contain;
}

.episodioimg2{
    background: url(../img/episodio947.jpg) no-repeat center;
    background-size: contain;
}

.episodioimg3{
    background: url(../img/episodio946.jpg) no-repeat center;
    background-size: cover;
}


