/* banner */
.banner {
    display: flex;
    justify-content: space-around;  
}

.banner img {
    width: 100%;
}

.slider {
    width: 990px;
    border: 3px dashed black;
    border-top: none;
    flex-grow: 1;
}
/* banner end */
/* card pardrao */
.card {
    background: #fdfdfd;
    display: grid;
    grid-template-areas: 
        "card-imagem"
        "card-corpo";
    grid-template-columns: 100%;
    grid-template-rows: 173px auto;
    width: 30%;
    padding: 5px;
    border: 3px dashed black;
    margin: 10px 0;
}

.cardImagem {
    grid-area: card-imagem;
    width: 100%;
}

.cardCorpo {
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: 1rem;
    grid-template-areas: 
        "card-cabecalho"
        "card-conteudo"
        "card-rodape";
    grid-template-rows: max-content auto 10px;
    padding: .75rem;
}

.cardDescricao {
    grid-area: card-conteudo;
    color: #333333;
    line-height: 1.5;
    text-align: justify;
}

.cardTitulo {
    color: #333333;
    font-size: 1.5rem;
}

.cardRodape {
    color: #6f00ff;
    font-weight: bolder;
    text-decoration: underline;
}
/* card padrao end */
/* titulo da seção */
.titulo {
    border-left: none;
    border-right: none;
    width: 80%;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.tituloBox {
    display: flex;
    justify-content: space-around;
    border-bottom: 3px dashed black;
}

/* titulo da seção end*/
/* noticias */
.noticias {
    display: flex;
    justify-content: space-around;
}

.noticiasConteudo {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.noticiaImg1 {
    background: url(../img/unnamed.jpg) no-repeat center;
    background-size: contain;
}

.noticiaImg2 {
    background: url(../img/noticia2.jpg) no-repeat center;
    background-size: contain;
}

.noticiaImg3 {
    background: url(../img/noticia3.jpg) no-repeat center;
    background-size: contain;
}

/* noticias end*/
/* ultimos episodios */
.episodios {
    display: flex;
    justify-content: space-around;
}
.episodiosConteudo {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.episodioimg1{
    background: url(../img/episodio948.jpg) no-repeat center;
    background-size: contain;
}

.episodioimg2{
    background: url(../img/episodio947.jpg) no-repeat center;
    background-size: contain;
}

.episodioimg3{
    background: url(../img/episodio946.jpg) no-repeat center;
    background-size: cover;
}


